In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib as mpl
import sys
sys.version
pd.__version__
mpl.__version__

'3.8.4'

In [9]:
with open('data.csv', 'r') as dt:
    print(dt.readline()) # headers
    print(dt.readline()) # first row

NZHSC_Level_2_Code_HS4,NZHSC_Level_1_Code_HS2,NZHSC_Level_2,NZHSC_Level_1,Status_HS4

0101,01,"Horses, asses, mules and hinnies; live",Animals; live,Current

In [11]:
data = pd.read_csv('data.csv',
                   parse_dates={'Trades': ['NZHSC_Level_2_Code_HS4','NZHSC_Level_1_Code_HS2']},
                   index_col='Trades')
data

C:\Users\lukas\AppData\Local\Temp\ipykernel_16036\388743605.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv('data.csv',

,NZHSC_Level_2,NZHSC_Level_1,Status_HS4
Trades,,,
0101 01,"Horses, asses, mules and hinnies; live",Animals; live,Current
0102 01,Bovine animals; live,Animals; live,Current
0103 01,Swine; live,Animals; live,Current
0104 01,Sheep and goats; live,Animals; live,Current
0105 01,"Poultry; live, fowls of the species Gallus dom...",Animals; live,Current
...,...,...,...
9808 98,Ships stores,New Zealand miscellaneous provisions,Current
9809 98,Confidential items,New Zealand miscellaneous provisions,Current
9999 99,Non-merchandise trade,Non-merchandise trade,Current
nan XX,NaN,Total goods,Current
nan 00,NaN,Total goods - country,Current