In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib as mpl
import sys
import os
import seaborn as sns 
import ipywidgets as widgets
from collections import Counter
plt.style.use('seaborn-v0_8-deep')
sys.version
pd.__version__
mpl.__version__
# mpl.style.available

'3.8.4'

In [23]:
data = pd.read_csv("music_data.csv")
data

,Artist,Release,Rating
0,공중도둑[Mid-Air Thief],무너지기 (Crumbling),4.5
1,¥$,Vultures 2,0.5
2,100 gecs,1000 gecs,4.0
3,12 Rods,Split Personalities,3.0
4,The 13th Floor Elevators,The Psychedelic Sounds of The 13th Floor Eleva...,4.0
...,...,...,...
940,Zwidy,Szum,3.0
941,フィッシュマンズ,空中キャンプ (Something in the Air),4.0
942,下村陽子[Yoko Shimomura],キングダムハーツ II (Kingdom Hearts II),4.5
943,椎名林檎[Sheena Ringo],加爾基 精液 栗ノ花 (Kalk samen kuri no hana),4.0
944,Various Artists,The Fire This Time,4.5

In [24]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Artist   945 non-null    object
 1   Release  945 non-null    object
 2   Rating   945 non-null    float64
dtypes: float64(1), object(2)
memory usage: 22.3+ KB
None

In [25]:
artist_album_count = data['Artist'].value_counts()
artist_album_count

Artist
Pink Floyd         15
The Beatles        13
King Crimson       13
Myslovitz          11
Radiohead          11
                   ..
Hatifnats           1
GUM                 1
Grizzly Bear        1
Green Day           1
Various Artists     1
Name: count, Length: 522, dtype: int64

In [26]:
rated_artists = data.groupby('Artist')['Rating'].mean().sort_values(ascending=False).head(20)
rated_artists

Artist
Klaus Mitffoch                          5.000000
KIDS SEE GHOSTS                         5.000000
Mingus                                  5.000000
Prince and The Revolution               5.000000
The Avalanches                          5.000000
Lenny Valentino                         5.000000
Cyndi Lauper                            5.000000
Neutral Milk Hotel                      5.000000
Kaśka Sochacka                          4.750000
Joy Division                            4.750000
The Jimi Hendrix Experience             4.666667
Portishead                              4.625000
Kombajn do Zbierania Kur po Wioskach    4.600000
Television                              4.500000
The Cure                                4.500000
Joni Mitchell                           4.500000
John Williams                           4.500000
Love                                    4.500000
Black Country, New Road                 4.500000
Deltron 3030                            4.500000
Name: Rating, dtype: float64

In [27]:
artists_with_two_or_more_albums = artist_album_count[artist_album_count >= 2].index
filtered_data = data[data['Artist'].isin(artists_with_two_or_more_albums)]
rated_artists = filtered_data.groupby('Artist')['Rating'].mean().sort_values(ascending=False).head(20)
rated_artists

Artist
Joy Division                            4.750000
Kaśka Sochacka                          4.750000
The Jimi Hendrix Experience             4.666667
Portishead                              4.625000
Kombajn do Zbierania Kur po Wioskach    4.600000
C418                                    4.500000
The Cure                                4.500000
Sweet Trip                              4.500000
Black Country, New Road                 4.500000
Nirvana                                 4.500000
Toby Fox                                4.500000
Marek Grechuta                          4.500000
Weyes Blood                             4.500000
Gorillaz                                4.500000
Amy Winehouse                           4.500000
John Williams                           4.500000
Kraftwerk                               4.500000
The Beatles                             4.423077
My Bloody Valentine                     4.416667
Daria Zawiałow                          4.375000
Name: Rating, dtype: float64